<!DOCTYPE html>
<html>
    <head>
        {% include '::header.html.twig' %}
    </head>
    <body>
        {% block body %}{% endblock %}
        
        {{ render(controller('MyRecipesDosBundle:Recipe:lastRecipes')) }}

        {% block javascripts %}{% endblock %}
    </body>
</html>