<meta charset="UTF-8" />
<title>{% block title %}El rincón de Laura | Tienda de mujer {% endblock %}</title>
{% block stylesheets %}{% endblock %}
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />