<!DOCTYPE html>
<html>
	<head>
		<title>Bienvenido.</title>
	</head>
	<body>
		Eliminando la receta: {{ recipe_name }}

		<br>
		<br>

		<a href="{{ url('recipes_list') }}">volver al listado.</a>
	</body>
</html>